<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="col">
        EVALUA-TIC
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content pading color="success">
  <ion-card class="bg">
      <ion-card-header class="titulo">
          <ion-card-title>Lista de Preguntas</ion-card-title>
        </ion-card-header>
        </ion-card>
        <ion-card color="success">
    <ion-item-sliding *ngFor="let poo of poos">
        <ion-item lines="inset" button [routerLink]="['/details-preguntas', poo.id]">
          <ion-label>
            {{ poo.pregunta }}
          </ion-label>
        </ion-item>
      </ion-item-sliding>

         <!-- <ion-fab vertical="bottom" horizontal="end" slot="fixed">
          <ion-fab-button routerLink="/details-preguntas" routerDirection="forward">
            <ion-icon name="add"></ion-icon>
          </ion-fab-button>
        </ion-fab>-->
      </ion-card>
</ion-content>
