<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="col">
      EVALUA-TIC
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding  class="bg-image no-scroll">
  <ion-card class="bg"  id="alumnos" *ngFor="let alumno of alumnos; index as i">
      <ion-card-header>
          <ion-card-title  class="titulo">ALUMNO</ion-card-title>
        </ion-card-header>
    <img class="icon"  src="assets/icon/perfil.png" alt="">
    <ion-row class="alineacion">
        <ion-col>
            <h5>{{alumno.apellido}}</h5>
            </ion-col>
      </ion-row>
    <ion-row class="alineacion">
        <ion-col>
         <h5>{{alumno.nombre}}</h5> 
            </ion-col>
      </ion-row>
      <ion-row class="alineacion">
          <ion-col>
             <h5> {{alumno.matricula}}</h5>   
              </ion-col>
        </ion-row>
        <ion-row class="alineacion">
            <ion-col>
               <h4> {{alumno.carrera}}</h4>     
                </ion-col>
          </ion-row>
          <ion-row class="alineacion">
              <ion-col>
                  <h5> {{alumno.grado}}</h5>
                </ion-col>
            </ion-row>
            <br>

<br>
<ion-button [routerLink]="['/registro', alumno.id]" class="" expand="block">
  Perfil
</ion-button>
</ion-card>
</ion-content>
 

