<ion-header>
    <ion-toolbar color="dark">
      <ion-title>
        Añadir nueva Pregunta
      </ion-title>
    </ion-toolbar>
  </ion-header>



<ion-content padding>
  <ion-card>

    <ion-list lines="full">

<!--
        <ion-item class="letras"  *ngIf="poo">
            <ion-label text-wrap  name="pregunta" [(ngModel)]="poo.pregunta">
              {{poo.pregunta}}
            </ion-label>
          </ion-item>
-->
        <ion-label>Pregunta:</ion-label>
      <ion-item  *ngIf="poo">
          <ion-textarea rows="6" cols="20" [disabled]="true"  name="pregunta" [(ngModel)]="poo.pregunta">
          </ion-textarea>
        </ion-item>

        <ion-label> Respuesta: </ion-label>
      <ion-item class="respuesta" *ngIf="poo">
          <ion-textarea rows="6" cols="20"  placeholder="Escribe aquí..."  name="rnull" [(ngModel)]="poo.rnull"></ion-textarea>
      </ion-item>

    </ion-list>
    </ion-card>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed" color="success">
        <ion-fab-button color="primary" (click)="saveTodo()"  routerLink="/" routerDirection="forward">
            <ion-icon name="save"></ion-icon>
        </ion-fab-button>
      </ion-fab>

<!--(click)="onRemoveTodo(todoId)"-->
  </ion-content>