<ion-header>
    <ion-toolbar color="dark">
      <ion-title class="col">
       EVALUA-TIC
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content padding color="success">
      <ion-card class="bg">
          <ion-card-header class="titulo">
              <ion-card-title>Nueva Pregunta</ion-card-title>
            </ion-card-header>
      </ion-card>
  <ion-card color="dark" >
    <ion-list lines="full">
        <ion-label>Pregunta:</ion-label>
      <ion-item  *ngIf="poo" >
          <ion-textarea rows="6" cols="20" [disabled]="true"  name="pregunta" [(ngModel)]="poo.pregunta">
          </ion-textarea>
        </ion-item>

        <ion-label> Respuesta: </ion-label>
      <ion-item class="respuesta" *ngIf="poo">
          <ion-textarea rows="6" cols="20"  placeholder="Escribe aquí..."  name="rnull" [(ngModel)]="poo.rnull"></ion-textarea>
      </ion-item>

    </ion-list>
    </ion-card>

    <ion-button color="warning"  routerLink="/preguntas" expand="block" (click)="saveTodo()">Guardar</ion-button>
<!--(click)="onRemoveTodo(todoId)"-->
  </ion-content>