<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="col">
        EVALUA-TIC
    </ion-title>
    <ion-button (click)="OnLogout()" color="dark" slot="end">
        <ion-icon  name="exit"></ion-icon>
      </ion-button>
    </ion-toolbar>
    
</ion-header>

<ion-content padding color="success" >
  <ion-card color="dark" class="alineacion">
      <ion-card-title>Examenes Disponobles</ion-card-title>
    <img class="icon"  src="assets/icon/ut.png" alt="">
  </ion-card>

<ion-card class="bg">
  <ion-item  href="/preguntas"class="bg">
    <ion-label>Desarrollo de Aplicaciones 2</ion-label>
  </ion-item>

  <ion-item class="bg" href="#">
    <ion-label>Ingenieria de Software</ion-label>
  </ion-item>

  <ion-item class="bg" href="#">
    <ion-label>Administracion de Proyectos</ion-label>
  </ion-item>

  <ion-item class="bg" href="#"> 
    <ion-label >Calidad de Software</ion-label>
  </ion-item>
</ion-card>
</ion-content>

